{% block content %}
   <div id="optionsbar" class="pgrid">

    <div class="pgrid-item">
        <i class="fa fa-cog"></i>
      <button id="generate-button" onclick="generate()">
        Generate</button>
    </div>
    <div class="pgrid-item">
      k =
      <input type="number" id="numcolors-textfield" name="k" min="0" max="11" value="{{ colors }}">
      <!--input id="numcolors-textfield" type="text" name="k" value="{{ colors }}"-->
    </div>
    <div class="pgrid-item">
      <i class="fa fa-floppy-o"></i>
      <button id="save-button" onclick="save()">
      Save</button>
    </div>
    <div class="pgrid-item">
        <i class="fa fa-upload"></i>
      <button id="load-button" onclick="load_file()">
      Load</button>
    </div>

    <div class="pgrid-item">
        <i class="fa fa-random"></i>
      <button id="random-button" onclick="randomgraph()">Random</button>
    </div>

    <div class="pgrid-item">
          <i class="fa fa-refresh"></i>
      <button id="refresh-button" onclick="refresh_page()">
          Refresh (if lagging)
      </button>
    </div>
    <div class="pgrid-item">
        <i class="fa fa-spinner"></i>
      <button id="force-cg-button" onclick="get_cg_data()">
          ColoringGraph hidden. Force display?
      </button>
    </div>
    <div class="pgrid-item">
        <i class="fa fa-sliders"></i>
      <button id="toggle-physics-button" onclick="toggle_physics()">
          Physics: ON
      </button>
    </div>

    <div class="pgrid-item">
        <i class="fa fa-arrows"></i>
      <button id="toggle-drag-button" onclick="toggle_drag()">
          Drag: ON
      </button>
    </div>

    <div class="pgrid-item">
        <i class="fa fa-th-large"></i>
      <button id="reset-layout-button" onclick="$grid.packery('layout');">
          Auto layout
      </button>
    </div>

    <div class="pgrid-item help">
      <i class="fa fa-question-circle"></i>
      <button id="help-button" class="help" onclick="window.open('https://aalok-sathe.gitlab.io/libcolgraph/libcolgraph/web', '_blank')">
          Help/Tutorial
      </button>
    </div>

     <div class="pgrid-item pgrid-item--wide">
        <p style="display:inline">  </p>
        <p style="display:inline; background-color: #fffa84; color: black" id="topstatsdisplay">
            <i class="fa fa-bar-chart"></i>
            STATS: {{ stats }}</p>
     </div>

   </div>


   <div class="ggrid">

        {% with container_type="bg" %}
            {% include "graphcontainer.html"  %}
        {% endwith %}

        {% with container_type="mcg" %}
            {% include "graphcontainer.html"  %}
        {% endwith %}

        {% with container_type="cg" %}
            {% include "graphcontainer.html"  %}
        {% endwith %}

        {% with container_type="pcg" %}
            {% include "graphcontainer.html"  %}
        {% endwith %}

  </div>
{% endblock %}
