{% block interaction %}
<div class="vis-manipulation" style="display: block;">

    <div class="vis-button vis-add" style="touch-action: pan-y; -moz-user-select: none;">
      <div class="vis-label">Add Node</div>
    </div>

    <div class="vis-separator-line"></div>

    <div class="vis-button vis-connect" style="touch-action: pan-y; -moz-user-select: none;">
      <div class="vis-label">Add Edge</div>
    </div>

    <div class="vis-separator-line"></div>

    <div class="vis-button vis-connect" style="touch-action: pan-y; -moz-user-select: none;">
      <div class="vis-label">Generate</div>
    </div>

</div>

<div class="vis-edit-mode" style="display: block;"></div>

<div class="vis-close" style="display: block; touch-action: pan-y; -moz-user-select: none;"></div>

<!-- </div> -->

{% endblock %}
